@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

html {
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
}

:root {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

.content-colors {
  --tw-prose-body: #1c1917;
  --tw-prose-headings: #1c1917;
  --tw-prose-links: #1c1917;
  --tw-prose-bold: #1c1917;
  --tw-prose-counters: #1c1917;
  --tw-prose-bullets: #1c1917;
  --tw-prose-hr: #1c1917;
  --tw-prose-quotes: #1c1917;
  --tw-prose-quote-borders: #1c1917;
  --tw-prose-captions: #1c1917;
  --tw-prose-code: #1c1917;
  --tw-prose-pre-code: #1c1917;
  --tw-prose-pre-bg: #f5f5f4;
  --tw-prose-th-borders: #1c1917;
  --tw-prose-td-borders: #1c1917;
}

.dark .content-colors {
  --tw-prose-body: #fafaf9;
  --tw-prose-headings: #fafaf9;
  --tw-prose-links: #fafaf9;
  --tw-prose-bold: #fafaf9;
  --tw-prose-counters: #fafaf9;
  --tw-prose-bullets: #fafaf9;
  --tw-prose-hr: #fafaf9;
  --tw-prose-quotes: #fafaf9;
  --tw-prose-quote-borders: #fafaf9;
  --tw-prose-captions: #fafaf9;
  --tw-prose-code: #fafaf9;
  --tw-prose-pre-code: #fafaf9;
  --tw-prose-pre-bg: #292524;
  --tw-prose-th-borders: #fafaf9;
  --tw-prose-td-borders: #fafaf9;
}
